venv/

core/__pycache__/

core/migrations/

summary/__pycache__/

summary/migrations/

company/__pycache__/

company/migrations/

hiring/__pycache__/

hiring/migrations/

employment/__pycache__/

.DS_Store

media/